html, body {
  font-family: 'Inter', sans-serif !important;
  font-feature-settings: 'salt' on;
}

@supports (font-variation-settings: normal) {
  html, body {
    font-family: 'Inter var', sans-serif !important;
    font-feature-settings: 'salt' on;
  }
}
