body {
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
}

.mito {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.layout-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

html, body { height: 100% }

pre {
  color: var(--base-colour);
}

.m-grid {
  display: grid;
}

.m-auto-column-6 {
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
}

.m-grid-gap-16 {
  grid-gap: 1.125rem;
}

.layout {
  display: grid;
  margin: 1.4375rem 1.25rem;
  row-gap: 5px;
  color: var(--base-colour);
  // grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.react-resizable-handle {
  padding: 0 !important;
  background: none !important;
  border-bottom-right-radius: 4px !important;
  overflow: hidden !important;
}

.react-grid-item > .react-resizable-handle::after {
  right: 3px !important;
  bottom: 5px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-right: none !important;
  width: 6px !important;
  height: 4px !important;
  transform: rotate(-45deg) !important;
}

.react-grid-item.react-grid-placeholder {
  border-radius: 0.25rem !important;
  background-color: #E6D5E4 !important;
  opacity: 0.4 !important;
}
