:root {
  --hue: 223;
  --bg: hsl(var(--hue), 30%, 100%);
  --bg-alt: hsl(var(--hue), 10%, 70%);
  --base-colour: hsla(var(--hue), 85%, 7%, 0.7);
  --base-colour-alt: hsla(var(--hue), 85%, 7%, 0.7);
  --overflow: hsl(var(--hue), 15%, 10%);
  --base: hsl(var(--hue), 15%, 20%);
  --surface: hsl(var(--hue), 25%, 95%);
  --overlay: hsl(var(--hue), 0%, 100%);
  --overlay-surface: hsl(var(--hue), 10%, 95%);
  @media (prefers-color-scheme: dark) {
    --hue: 223;
    --bg: hsl(var(--hue), 15%, 25%);
    --bg-alt: hsl(var(--hue), 15%, 35%);
    --base-colour: rgba(255, 255, 255, 0.9);
    --base-colour-alt: hsla(var(--hue), 85%, 7%, 0.7);
    --overflow: hsl(var(--hue), 15%, 10%);
    --base: hsl(var(--hue), 15%, 20%);
    --surface: hsl(var(--hue), 15%, 25%);
    --overlay: hsl(var(--hue), 15%, 30%);
    --overlay-surface: hsl(var(--hue), 15%, 35%);
  }
}
