.alert {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 1.25rem;

  &--major {
    background-color: hsla(0, 75%, 45%, 1);
  }

  &--partial {
    background-color: hsl(44, 100%, 43%);
  }

  &--operational {
    background-color: hsl(134, 100%, 43%);
  }

  &--unknown {
    background-color: var(--overlay);
  }

  &__header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &__h1 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-shadow: 2px 2px 2px hsla(0, 0%, 45%, 0.5);
  }
}
