.card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  height: 150px;
  overflow: hidden;

  &__outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.25rem;
  }
}
