.timeline-row {
  &__container {
    display: flex;
  }

  &__content {
    width: 100%;
    margin: 0 0 1.125rem 0;
  }

  &__body {
    margin: 0.5rem 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    color: var(--base-colour);
    font-size: 1.125rem;
    font-weight: 500;
  }

  &__description {
    font-size: 500;
    color: var(--base-colour);
    padding: 0.25rem 0;
  }
}
