.nav {
  &--mobile {
    height: 3.75rem;
    width: 100%;
    background-color: var(--bg-alt);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
  }

  &__logo--mobile {
    height: 2.5rem;
    border-radius: 50px;
  }

  &__title--mobile {
    color: var(--base-colour);
  }

  &__link--mobile {
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin-left: 15px;
    width: 100%;
    font-size: 1rem;
    transition: color 80ms linear;
    &:hover {
      color: var(--base-colour);
    }
  }

  &-menu {
    &__container {
      padding: 1rem 0;
    }

    &--mobile {
      display: flex;
      width: 100%;
      background-color: var(--bg-alt);
      position: absolute;
      top: 60px;
      padding: 0;
      right: 0;
      border-radius: 0;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

      &__item {
        display: flex;
        align-items: center;
        color: var(--base-colour);
        height: 2.5rem;
        width: 100%;
      }
    }
  }
}
