.textResize {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.textResize .innerWrapper > *:first-child {
  margin-top: 0;
  padding-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.textResize .innerWrapper > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
