.menu-btn {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
  margin: 0 0 0 0.25rem;

  &__svg {
    display: flex;
    width: 100%;
    place-content: center;
  }
}
