.nav-menu {
  position: absolute;
  top: 100%;
  right: -60px;
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  color: var(--base-colour);
  border-radius: 0.25rem;
  padding: 1rem;
  min-width: 200px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  a, button {
    padding: 0.625rem 0;
    width: 100%;
    text-align: left;
  }

  svg {
    margin-right: 1rem;
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &--hidden {
    display: none;
  }
}
