.graph-date-card {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }

  &__h1 {
    font-weight: 500;
    font-size: 1rem;
    color: var(--base-colour);
  }

  &__stats {
    font-weight: 500;
    font-size: 1rem;
    color: var(--base-colour);
  }

  &__grid {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(5, auto);
    align-self: center;
  }

  &__items {
    background-color: #0FFF41;
    height: 30px;
    width: 30px;
  }
}
