.graph-date {
  display: grid;
  gap: 1.1875rem;
  grid-template-columns: repeat(3, auto);
  margin-top: 20px;
  @media (max-width: 609px) {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: none;
  }
}
