.nav-avatar {
  margin-left: 40px;

  &--active {
    .nav-avatar__container:after {
      opacity: 1;
    }
  }

  &__container {
    cursor: pointer;
    max-width: 60px;
    border-radius: 50%;
    overflow: hidden;

    &:after {
      position: absolute;
      top: 18px;
      height: 60px;
      width: 60px;
      transition: 200ms opacity cubic-bezier(0.02, 0.01, 0.47, 1);
      content: "";
      border-radius: 50%;
      box-shadow: inset 0 0 0 3px #fff;
      opacity: 0;
      will-change: opacity;
    }

    &:hover:after {
      opacity: 1;
    }
  }
}
