.graph-timeline-status {
  display: flex;
  justify-content: space-between;
  margin-top: 1.125rem;

  &__header {
    color: var(--base-colour);
    font-weight: 500;
  }

  &__status {
    color: var(--base-colour);
    font-weight: 500;
  }
}
