.setting-edit {
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  background-color: var(--surface);
  font-size: 12px;
  color: var(--base-colour);
  display: flex;
  flex-direction: row;

  &__header {
    width: 25%;
    padding: 20px;
    background-color: var(--overlay);
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
    color: var(--base-colour);
  }

  &__content {
    flex: 1;
  }
}
