@mixin anchor-colour ($colour: #fff, $visited: false, $hover: false, $focus: false, $active: false, $override: false) {
  color: $colour;

  @if $override and $visited and $hover and $focus and $active {
    &:visited, &:hover, &:focus, &:active {
      color: $link
    }
  }

  @if $visited {
    &:visited {
      color: $visited;
    }
  }

  @if $hover {
    &:hover {
      color: $hover;
    }
  }

  @if $focus {
    &:focus {
      color: $focus;
    }
  }

  @if $active {
    &:active {
      color: $active;
    }
  }
}
