@mixin responsive-ratio($width, $height, $pseudo: false) {
  $padding: unquote(($height / $width) * 100 + '%');

  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      padding-top: $padding;
      width: 100%;
    }
  } @else {
    padding-top: $padding;
  }
}
