@mixin scrollbars($size, $foreground-color, $background-color: white) {
  ::-webkit {
    &-scrollbar {
      height: $size;
      width: $size;
    }

    &-scrollbar-thumb {
      background: $foreground-color;
    }

    &-scrollbar-track {
      background: $background-color;
    }
  }

  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
