.card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  height: 100%;
  overflow: hidden;
  color: var(--base-colour-alt);

  &__outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.25rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
    text-transform: lowercase;
  }

  &__inner {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }

  &__value {
    font-feature-settings: 'salt' on;
    font-size: 4.375rem;
    text-align: center;

    &--subscript {
      font-size: 1.625rem;
    }
  }
}
