.login-button {
  color: var(--base-colour);
  width: auto;
  height: min-content;
  background-color: var(--surface);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  align-items: center;
  &__text {
    margin-left: 1.25rem;
    font-weight: 500;
  }
}
