.recent-uptime {
  display: flex;
  align-items: center;

  &__header {
    color: var(--base-colour);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-right: 0.25rem;
  }
}
