.login {
  &__header {

  }

  &__h1 {
    font-weight: 500;
    font-size: 1.25rem;
  }

  &-page {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    align-items: center;
    @media (max-width: 609px) {
      width: 100%;
    }
  }

  &-card {
    background-color: var(--base-colour);
    display: flex;
    justify-content: space-evenly;
    border-radius: 0.25rem;
    @media (max-width: 609px) {
      flex-direction: column;
    }

    &__background {
      width: 50%;
      overflow: hidden;
      @media (max-width: 609px) {
        width: 100%;
      }
    }

    &__logo {
      filter: blur(10px)
    }
  }
}
