.account {
  &-header {
    background-color: var(--overlay);
    color: var(--base-colour);
    border-radius: 0.25rem;
    box-shadow: 0 20px 25px -5px
    rgba(0, 0, 0, 0.1), 0 10px 10px -5px
    rgba(0, 0, 0, 0.04);
    overflow: hidden;

    &__top {
      display: flex;
      flex-direction: row;
    }

    &__bottom {
      height: 150px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.25rem;
  }

  &-info {
    display: flex;
    flex: 1;

    &__name {
      font-weight: 500;
      font-size: 20px;
      margin: 0.625rem 0 0.625rem 1.25rem;
    }
  }

  &-stats {
    display: flex;
    flex: 0 0 30%;
    justify-content: space-evenly;

    &__col {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__header {
      font-weight: 500;
      font-size: 20px;
    }

    &__items {
      font-weight: 500;
      font-size: 15px;
    }
  }
}
