.graph-timeline-row {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.625px;
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: var(--base-colour);
  }

  &__stats {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: 1fr;
    grid-column-gap: 0.25rem;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  }

  &__items {
    height: 2.5rem;
    background-color: #0FFF41;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    &:first-child {
      border-radius: 4px 0px 0px 4px;
    }

    &:last-child {
      border-radius: 0px 4px 4px 0px;
    }
  }

  &__status {
    font-weight: 500;
    font-size: 1rem;
    color: var(--base-colour);
  }
}
