.dashboard-aside {
  width: 4.5rem;
  height: 100vh;
  background-color: var(--bg-alt);
  position: fixed;

  &__items {
    height: 4.5rem;
    font-size: 9px;
    color: var(--base-colour);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
