.graph-switcher {
  display: flex;

  &__button {
    background-color: var(--overlay);
    color: var(--base-colour);

    path {
      fill: var(--base-colour);
    }

    &--active {
      color: var(--overlay);
      background-color: var(--base-colour);

      path {
        fill: var(--overlay);
      }
    }
  }
}
