.section {
  &--card {
    background-color: var(--overlay);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 1.25rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__h1 {
    align-items: center;
    color: var(--base-colour);
    display: flex;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24px;
  }
}
