.nav {
  align-content: center;
  display: flex;
  height: 6rem;
  margin: 0 10px;

  &__outer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }

  &__container {
    align-items: center;
    display: flex;
    height: auto;
  }

  &__header {
    border-radius: 50px;
  }

  &__logo {
    border-radius: 50px;
    height: 4rem;
  }

  &__title {
    color: var(--base-colour);
    font-size: 1.25rem;
    margin: 0 0 0 1rem;
    text-transform: lowercase;
  }

  &__link {
    color: var(--base-colour);
    cursor: pointer;
    font-feature-settings: 'salt' on;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-left: 40px;
    text-transform: lowercase;
    transition: 200ms opacity cubic-bezier(.02, .01, .47, 1);
  }

  &__hover {
    transition: 200ms opacity cubic-bezier(.02, .01, .47, 1);
    .nav__link:hover {
      opacity: 1 !important;
    }

    &:hover {
      .nav__link {
        opacity: .7;
      }
    }
  }
}
